$ct: #1abc9c #48c9b0 #16a085;
$cg: #4caf50 #81c784 #388e3c;
$cpp: #651fff #7c4dff #6200ea;
$cb: #2196f3 #64b5f6 #1976d2;
$cr: #ff5722 #ff7043 #e64a19;
$co: #ff9800 #ffa726 #f57c00;
$cp: #e7e8eb #ecf0f1 #bdc3c7;
$cgr: #546e7a #607d8b #37474f;

@mixin ts($c: all, $t: .1s, $m: ease-in-out){
    transition:$c $t $m;
}


@font-face {font-family: 'iconfont';src: url('font/iconfont.eot');src: url('font/iconfont.eot?#iefix')format('embedded-opentype'),url('font/iconfont.woff')format('woff'),url('font/iconfont.ttf')format('truetype'),url('font/iconfont.svg#iconfont') format('svg');}
.iconfont{font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}